package components

import "time"

templ Footer() {
	<footer class="footer">
		<div class="content has-text-centered is-size-7">
			<p>&copy; { time.Now().Format("2006") } RunRun. All rights reserved.</p>
			<p>
				<a href="https://github.com/sgaunet/runrun" target="_blank" rel="noopener" class="has-text-primary">
					GitHub
				</a>
			</p>
		</div>
	</footer>
}
