package components

templ Spinner() {
	<div class="has-text-centered py-5">
		<button class="button is-loading is-large is-primary is-light" aria-label="Loading">Loading</button>
	</div>
}

templ SpinnerInline() {
	<span class="button is-loading is-small is-light" aria-label="Loading"></span>
}

templ SkeletonTaskCard() {
	<div class="card">
		<div class="card-content">
			<progress class="progress is-small is-primary" max="100">Loading</progress>
		</div>
	</div>
}
